textarea:focus, input:focus{
    outline: none;
}
:root {
  /*
  --theme-color: #4CAF50;
  --background-color: #f0f0f0;
  --card-color: #fff;
  --light-text: rgba(0, 0, 0, .5);
  --ultra-light-text: rgba(0, 0, 0, .4);
  --medium-text: rgba(0,0,0,.75);
  */
  --theme-color: #FE9900;
  --background-color: #303030;
  --card-color: #424242;
  --light-text: rgba(255, 255, 255, .5);
  --ultra-light-text: rgba(255, 255, 255, .4);
  --medium-text: rgba(255, 255, 255, .75);
  
}
@font-face {
  font-family: ubuntu;
  src: url(Ubuntu-M.ttf);
}
@keyframes item-animate-in{
  from {
    height: 0px;
    padding: 0px 8px;
  }
}
@keyframes item-animate-out{
  to {
    height: 0px;
    padding: 0px 8px;
  }
  from {
    height: 55px;
    padding: 8px;
  }
}
body, html {
  background-color: var(--background-color);
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}
* {
  font-family: sans-serif;
}
#header {
  background-color: var(--theme-color);
  width: 100%;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  line-height: 50px;
  box-shadow: 0px 2px 3px rgba(0,0,0,.3);
  overflow: hidden;
}
#header>#title {
    padding-left:5px;
}
#search {
  width: 100%;
  float: right;
  max-width: none;
  height: 38px;
  margin: 6px auto;
  background-color: white;
  box-shadow: 0px 2px 3px rgba(0,0,0,.3);
  border-radius: 2px;
}
@media (min-width: 768px) {
  #search {
    max-width: 300px;
  }
  #header>#title {
    padding-left: 50px;
  }
  #search {
    margin: 6px 24px;
  }
}
#search>input {
  display: block;
  margin: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  overflow: hidden;
  outline: none;
  border: none;
  color: rgba(0,0,0,.7);
  padding: 0px;
  line-height: calc(100% - 6px);
}
::-webkit-input-placeholder {
  font-size:12px;
  padding-top: 2px;
  line-height: 14px;
}
.card {
  background-color: var(--card-color);
  width: 100%;
  border-radius: 3px;
  box-shadow: 0px 2px 3px rgba(0,0,0,.2), 0px 0px 2px rgba(0,0,0,.3);
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4px;
  padding-bottom: 4px;
}
h1 {
  font-size: 1em;
  color: var(--light-text);
  font-weight: bold;
}
.cardGroup {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-family: ubuntu;
  padding: 8px 0px;
}
.placeholder {
  line-height: 55px;
  text-align: center;
  color: var(--ultra-light-text);
  font-weight: bold;
  transition: line-height 500ms;
  overflow: hidden;
}
.placeholder.closed {
  line-height: 0px;
}
.divider {
  border-top: 1px solid rgba(0,0,0,.2);
}
.item {
  animation-name: item-animate-in;
  animation-duration: 500ms;
  padding: 8px;
  height: 0px;
  height: 55px;
  overflow: hidden;
}
.item>.header {
  font-weight: bold;
  color: var(--medium-text);
}
.item>.status {
  font-size: 11px;
  padding-top: 4px;
  color: var(--light-text);
  font-weight: bold;
}
.item.closing {
  animation-name: item-animate-out;
  animation-duration: 500ms;
  height: 0px;
  padding: 0px 8px;
}
#topBar {
  background-color: #388E3C;
  -webkit-app-region: drag;
  width: 100%;
  height: 25px;
}
#topBar>i:hover {
  background-color: #43A047;
}
#topBar>i {
  cursor: pointer;
  float:right;
  color: white;
  font-size: 20px;
  line-height: 25px;
  padding: 0px 5px;
}
#topBar>i#maximize {
  font-size: 16px;
}
